# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.elf

# Disassemblies
*.lss


# Hex dumps
*.hex

# Miscellaneous Wunderboard files and directories
# FIXME: Be more descriptive
*.map
*.sym
*.eep
obj
.dep

# Vim swap files
.*.sw?
