# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.elf

# Disassemblies
*.lss


# Hex dumps
*.hex

# Object-type things directory
obj

# Dependency-type things directory
.dep

# Miscellaneous Wunderboard files and directories
# FIXME: Be more descriptive
*.map
*.sym
*.eep
__avr_gdbinit

# ctags tags file
tags

# Vim swap files
.*.sw?
